.container div{
    border: 2px solid #553;
    width: 100px;
    height: 70px;
    font-size: 3em;
}
.container{
    display: flex;
}
.box-container div{
    font-size:3em ;
    height: 100px;
    width: 150px;
    border: 2px solid #52f;
   
}
.box-container{
    display: flex;
    gap: 50px;
}