.container div{
    border: 2px solid #553;
    width: 100px;
    height: 70px;
    font-size: 3em;
}
.container{
    display: flex;
}
.box-container div{
    font-size:3em ;
    height: 100px;
    width: 150px;
    border: 2px solid #52f;
   
}
.box-container{
    display: flex;
    gap: 50px;
}
.card-container div{
    border: 3.5px solid #ff3;
    height: 100px;
    width: 150px;
    background-color: rgba(239, 22, 156, 0.267);
    font-size: 3em;
}
.card-container{
    display: flex;
    justify-content: start;
}
/*we can also use justify content are justify betwen and around to divide whole places */
.card-create div{
    border: 2px solid #4ff;
    height: 100px;
    weight: 100px;
    background-color: #dd32;
    font-size: 2em;
} 
.card-create{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}