body{
    max-width: 1170px;
    /* background-color: rgb(238, 236, 121); */
    margin: 0 auto;

}
.card:hover{
    background-color: aqua;
}
.card-container{
    display: flex;
    gap: 20px;
}
.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 0px rgb(33, 26, 22);
}
.card h3{
    font-size: 1.5em;
    font-weight: 700;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card button{
    background-color: aqua;
    padding: 10px 15px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;

}